  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-calendar"></i> Prep Planner</a>
      <div class="navbar-nav ms-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="mealsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meals
          </a>
          <ul class="dropdown-menu" aria-labelledby="mealsDropdown">
            <li><a class="dropdown-item" href="/meal-options">Options</a></li>
            <li><a class="dropdown-item" href="/meal-guide">Guidance</a></li>
            <li><a class="dropdown-item" href="/meals-list">Logged</a></li>
          </ul>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="progressDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Progress
          </a>
          <ul class="dropdown-menu" aria-labelledby="progressDropdown">
            <li><a class="dropdown-item" href="/check-ins">Check ins</a></li>
            <li><a class="dropdown-item" href="/statistics">Statistics</a></li>
          </ul>
        </div>
        <form class="d-inline" action="/logout" method="POST">
          <button class="btn btn-link nav-link" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>